<aside class="aside" th:fragment="aside">
    <nav>
        <ul>
            <li class="aside__menu-item">
                <a class="aside__menu-item-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/settings/users') ? 'aside__menu-item-link_active' : ''}" href="/settings/users">
                    Сотрудники
                </a>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-item-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/settings/locations') ? 'aside__menu-item-link_active' : ''}" href="/settings/locations">
                    Подразделения
                </a>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-item-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/settings/categories') ? 'aside__menu-item-link_active' : ''}" href="/settings/categories">
                    Категории
                </a>
            </li>
        </ul>
    </nav>
</aside>