:root {
  font-size: 18px;
  --color-background: #f6f6f6;
  --color-blue: #b9c7e2;
  --color-blue-light: #e8eff9;
  --color-grey: #e2e2e2;
  --color-grey-light: #f6f6f6;
  --color-grey-dark: #8d96a5;
  --color-main: #14121f;
  --color-red: #e8af92;
  --color-red-light: #ffefe7;
  --color-white: #fff;
  --m-1: 12px;
  --m-2: 24px;
  --m-3: 48px;
  --p-1: 12px;
  --p-2: 24px;
  --p-3: 48px;
  --br-1: 4px;
  --br-2: 12px;
  --br-3: 24px;
  --br-4: 100px
}

@font-face {
  font-family: 'FedraSansPro';
  src: url('../fonts/FedraSansPro-Normal.eot');
  src: local('Fedra Sans Pro'), local('FedraSansPro'),
  url('../fonts/FedraSansPro-Normal.woff2') format('woff2'),
  url('../fonts/FedraSansPro-Normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FedraSansPro';
  src: url('../fonts/FedraSansPro-NormalItalic.eot');
  src: local('Fedra Sans Pro'), local('FedraSansPro'),
  url('../fonts/FedraSansPro-NormalItalic.woff2') format('woff2'),
  url('../fonts/FedraSansPro-NormalItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FedraSansPro';
  src: url('../fonts/FedraSansPro-Medium.eot');
  src: local('Fedra Sans Pro'), local('FedraSansPro'),
  url('../fonts/FedraSansPro-Medium.woff2') format('woff2'),
  url('../fonts/FedraSansPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FedraSansPro';
  src: url('../fonts/FedraSansPro-MediumItalic.eot');
  src: local('Fedra Sans Pro'), local('FedraSansPro'),
  url('../fonts/FedraSansPro-MediumItalic.woff2') format('woff2'),
  url('../fonts/FedraSansPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FedraSansPro';
  src: url('../fonts/FedraSansPro-Bold.eot');
  src: local('Fedra Sans Pro'), local('FedraSansPro'),
  url('../fonts/FedraSansPro-Bold.woff2') format('woff2'),
  url('../fonts/FedraSansPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
@font-face {
  font-family: 'FedraSansPro';
  src: url('../fonts/BasisGrotesquePro-Black.eot');
  src: local('Fedra Sans Pro'), local('FedraSansPro'),
    url('../fonts/BasisGrotesquePro-Black.woff2') format('woff2'),
    url('../fonts/BasisGrotesquePro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*/

* {
  box-sizing: border-box;
  outline: none;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  color: var(--color-main);
  line-height: 1;
  font-family: "FedraSansPro", Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--color-grey-dark);
  text-decoration: none;
}

a:hover {
  color: var(--color-main);
}

aside {
  background-color: var(--color-background);
}

main {
  padding: var(--p-2) var(--p-3);
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--color-background);
}

input,
select {
  padding: var(--p-1);
  width: 100%;
  background-color: var(--color-grey-light);
  border: none;
}

textarea {
  width: 100%;
  resize: none;
}

.btn {
  padding: var(--p-1) var(--p-2);
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: var(--br-2);
}

.btn:not(:last-child) {
  margin-right: var(--m-2);
}

.btn-main {
  padding: var(--p-1) var(--p-2);
  color: var(--color-white);
  background-color: var(--color-main);
}

.btn-stroke {
  color: var(--color-main);
  font-weight: 500;
  border: 1px solid var(--color-grey);
  background-color: var(--color-white);
}

.btn-trash {
  padding-left: 43px;
  background-image: url("../img/trash.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 18px center;
}

.btn-red {
  color: var(--color-red);
}

.btn-red:hover {
  color: var(--color-main);
}

.btn-link {
  text-decoration: underline;
  background-color: transparent;
}

.tree__list {
  margin-bottom: var(--m-1)
}

.tree__item {
  margin-left: var(--m-2);
}

.pages {
  margin: var(--m-2) auto 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.pages__page {
  padding-bottom: 4px;
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: var(--br-2);
}

.pages__page:hover {
  color: var(--color-grey-dark);
  background-color: var(--color-grey-light);
}

.pages__page:not(:last-child) {
  margin-right: var(--m-1);
}

.pages__page_active {
  color: var(--color-white);
  font-weight: 500;
  background-color: var(--color-main);
}

.pages__page_active:hover {
  color: var(--color-grey-light);
  background-color: var(--color-main);
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}

.login__container {
  padding: var(--p-1);
  max-width: 780px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-white);
  border-radius: var(--br-2);
}

.login__container-col {
  width: 50%;
  min-width: 300px;
  display: inline-block;
}

.login__img {

  background-image: url("../img/login.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: var(--br-2);
}

.login__form {
  padding: var(--p-3);
  text-align: center;
}

.login__form-row {
}

.login__form-row {
  margin-bottom: var(--m-2);
}

.login__demo {
  margin: var(--m-1) auto 0;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--color-background);
  border-bottom: 1px solid #919ba7;
}

.logo__link {
  color: var(--color-main);
}

.header {
  padding: var(--p-2) var(--p-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #919ba7;
}

.header__user,
.header__user-profile {
  display: flex;
  align-items: center;
}

.header__user-profile:hover path {
  fill: var(--color-main)
}

.aside {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.aside__menu {
  margin-top: auto;
  margin-bottom: auto;
}

.aside__menu-item {
  padding: var(--p-1);
  width: 100%;
}

.aside__menu-item-link {
  width: 100%;
  padding: var(--p-1) var(--p-2);
  display: flex;
  align-items: center;
  border-radius: var(--br-2);
}

.aside__menu-item-link_active {
  color: var(--color-white);
  background-color: var(--color-main);
}

.aside__menu-item-link_active svg {
  fill: var(--color-white);
}

.aside__menu-item-link:hover {
  color: var(--color-white);
  background-color: var(--color-main);
}

.aside__menu-item-link:hover svg {
  fill: var(--color-white);
}

.aside__menu-item-link-img {
  margin-right: var(--m-1);
}

.aside__notify {
  margin: auto var(--m-1) var(--m-1);
  padding: var(--p-2);
  font-size: 0.8rem;
  color: var(--color-white);
  background-color: var(--color-main);
  border-radius: var(--br-3);
}

.aside__notify:hover {
  color: var(--color-white);
}

.aside__notify-count {
  font-size: 1.2rem;
  font-weight: 500;
}

.main__header {
  margin-bottom: var(--m-3);
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.main__header-tab {
  display: inline-block;
}

.main__header-tab:not(:last-child) {
  margin-right: 24px;
}

.main__subheader {
  margin-bottom: var(--m-2);
}

.filter {
  margin-bottom: var(--m-1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter__col:not(:last-child) {
  margin-right: var(--m-1);
}

.filter__search-bar {
  width: 30%;
}

.filter__select {
  width: 30%;
}

.form {
  margin: 0 auto;
}

.form__row {
  margin-bottom: var(--m-2);
}

.form__row-inputs {
  display: flex;
  align-items: center;
}

.form__label {
  width: 30%;
  padding-right: var(--p-2);
  font-weight: 500;
  text-align: right;
}

.form__bottom {
  display: flex;
  justify-content: space-between;
}

.form__error {
  margin-bottom: var(--m-1);
  padding: var(--p-1);
  text-align: center;
  color: var(--color-red);
  background-color: var(--color-red-light);
}

.main__1col {
  margin: 0 auto;
  max-width: 780px;
}

.main__2col {
  display: flex;
}

.main__2col-col {
  width: 50%;
}

.main__2col-col:first-child {
  margin-right: var(--m-3);
}

.item__form-row-num {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movement__count {
  padding: 2px;
  min-width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-main);
  border-radius: var(--br-4);
}

.movement__title {
  margin-right: var(--m-1);
  display: inline-block;
  vertical-align: middle;
}

.movement__status {
  padding: var(--p-1) var(--p-2);
  display: inline-block;
  vertical-align: middle;
  background-color: var(--color-blue-light);
  border-radius: var(--br-2);
}

.movement__form {
  margin-top: var(--m-3);
}
