<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"></head>
<body onload="preloader()">

<div id="loader"></div>

<div class="app" id="app">

  <div th:replace="fragments/header.html :: logo"></div>
  <header th:replace="fragments/header.html :: menu"></header>
  <aside th:replace="fragments/aside.html :: aside"></aside>

  <main>
    <header class="main__header">
      <h1 th:text="${title}"></h1>
    </header>
    <div class="main__1col">
      <div class="main__1col-col">
        <form class="form" method="POST" th:action="@{/settings/users}" th:object="${user}" id="form">
          <div class="form__row">
            <div class="form__row-inputs">
              <label class="form__label" for="last-name">Фамилия</label>
              <input type="text" id="last-name" th:field="*{lastName}" required>
            </div>
            <div th:if="${#fields.hasErrors('lastName')}" th:errorclass="form__error" th:errors="*{lastName}"></div>
          </div>

          <div class="form__row">
            <div class="form__row-inputs">
              <label class="form__label" for="first-name">Имя</label>
              <input type="text" id="first-name" th:field="*{firstName}" required>
            </div>
            <div th:if="${#fields.hasErrors('lastName')}" th:errorclass="form__error" th:errors="*{lastName}"></div>
          </div>

          <div class="form__row">
            <div class="form__row-inputs">
              <label class="form__label" for="email">Email</label>
              <input type="text" id="email" th:field="*{email}" required>
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errorclass="form__error" th:errors="*{email}"></div>
          </div>

          <div class="form__row">
            <div class="form__row-inputs">
              <label class="form__label" for="phone">Номер телефона</label>
              <input type="text" id="phone" th:field="*{phone}">
            </div>
            <div th:if="${#fields.hasErrors('phone')}" th:errorclass="form__error" th:errors="*{phone}"></div>
          </div>

          <div class="form__row">
            <div class="form__row-inputs">
              <label class="form__label" for="location-id">Подразделение</label>
              <select th:field="*{locationId}" id="location-id" required>
                <option th:each="location : ${locations}" th:value="${location.id}"
                        th:text="${location.title + ' (ID: ' + location.id + ')'}"
                        th:selected="${location.id == user.locationId}"></option>
              </select>
            </div>
            <div th:if="${#fields.hasErrors('locationId')}" th:errorclass="form__error" th:errors="*{locationId}"></div>
          </div>

          <div class="form__row">
            <div class="form__row-inputs">
              <label class="form__label" for="role">Роль</label>
              <select th:field="*{role}" id="role" required>
                <option th:each="role : ${T(com.inventory.main.user.User.Role).values()}"
                        th:value="${role.name()}" th:text="${role.toString()}"></option>
              </select>
            </div>
            <div th:if="${#fields.hasErrors('role')}" th:errorclass="form__error" th:errors="*{role}"></div>
          </div>

          <div class="form__row">
            <div class="form__row-inputs">
              <label class="form__label" for="password">Пароль</label>
              <input type="password" id="password" th:field="*{password}" required>
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errorclass="form__error" th:errors="*{password}"></div>
          </div>

          <div class="form__row">
            <div class="form__row-inputs">
              <label class="form__label" for="is-active">Пользователь активен</label>
              <input type="checkbox" id="is-active" th:field="*{isActive}" checked>
            </div>
            <div th:if="${#fields.hasErrors('isActive')}" th:errorclass="form__error" th:errors="*{isActive}"></div>
          </div>

          <div class="form__bottom">
            <a class="btn" href="/settings/users">Отменить</a>
            <div>
              <button class="btn btn-main" type="submit" form="form">Сохранить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

</div>

<section th:include="fragments/footer.html :: footer" th:remove="tag"></section>

</body>
</html>
