<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"></head>
<body>
<div th:replace="fragments/header.html :: logo"></div>
<header th:replace="fragments/header.html :: menu"></header>
<aside th:replace="fragments/settings/aside.html :: aside"></aside>
<main>
    <header class="main__header">
        <h1 th:text="${title}"></h1>
        <div>
            <a class="btn btn-stroke btn-trash" href="/settings/locations/deleted">Корзина</a>
            <a class="btn btn-stroke" href="/settings/locations/create">+ Добавить</a>
        </div>
    </header>
    <ul>
        <li th:replace="fragments/tree :: nestedMenu (menuItemsList=${locations})">
    </ul>
</main>
</body>
</html>