<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1>Create new location</h1>
<img th:src="@{/img/map.png}"/>
<form method="POST" th:object="${location}">
    <select>
        <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.title}"></option>
    </select>


    <div>
        <button>Submit Your Taco</button>
    </div>
</form>
</body>
</html>