<aside class="aside" th:fragment="aside">
    <nav>
        <ul>
            <li class="aside__menu-item">
                <a class="aside__menu-item-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/items') ? 'aside__menu-item-link_active' : ''}" href="/items/all">
                    Склад
                </a>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-item-link" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/items/create') ? 'aside__menu-item-link_active' : ''}" href="/items/create">
                    Добавить
                </a>
            </li>
        </ul>
    </nav>
</aside>
