<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"></head>
<body onload="preloader()">

<div id="loader"></div>

<div class="app" id="app">

  <div th:replace="fragments/header.html :: logo"></div>
  <header th:replace="fragments/header.html :: menu"></header>
  <aside th:replace="fragments/aside.html :: aside"></aside>

  <main>
    <header class="main__header">
      <h1 th:text="${title}"></h1>
      <div>

      </div>
    </header>
    <div style="overflow-x:auto;">
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Название</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="location : ${locations}">
          <td><a th:href="@{/settings/locations/{id}(id=${location.id})}" th:text="${location.id}"></a></td>
          <td>
            <a th:href="@{/settings/locations/{id}(id=${location.id})}" th:text="${location.title}"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>

</div>

<section th:include="fragments/footer.html :: footer" th:remove="tag"></section>

</body>
</html>
